@page
@using global::UserStories.Models
@model UserStories.CreateUserStoryTaskModel
@{
    ViewData["Title"] = "Create Task";
    <form method="post" enctype="multipart/form-data">

        <div class="modal-header">
            <div class="form-group">
                <label asp-for="Task.Title" class="control-label"></label>
                <input asp-for="Task.Title" class="form-control" />
               
            </div>
        </div>

        <div class="modal-body">
            <div class="form-group">
                <label asp-for="Task.Description" class="control-label"></label>
                <textarea asp-for="Task.Description" class="form-control" rows="8" id="textarea"></textarea>
                
            </div>
        </div>

        <div class="modal-footer align-content-center">
            <a type="button" class="btn btn-danger" style="width: 15rem" asp-page="UserStories">Cancel</a>
            <input id="Create Task" type="submit" value="Create" class="btn btn-success" style="width: 15rem" />
        </div>

    </form>
}