@page
@model Fixes.FixesModel
@{
    Layout = Model.LayoutPage;
}

<h1 class="text-center">Fixes </h1><a class="btn" type="button" asp-page="AddFix"><i class="fa fa-plus"></i> <b>Add Fix</b></a>

<div class="card-deck">
    @foreach (var Fix in Model.Fixes)
    {
        <div class="m-3" style="width: 25%;">
            <div class="card-header">
                <p>
                    Title: @Fix.Title
                </p>
            </div>
            <div class="card-body p-1" style="max-width: 100%; overflow: hidden; text-overflow: ellipsis">
                <p>
                    <div class="card-text" style="white-space: pre-line; padding-left: 5px; padding-right: 5px;">Description: @Fix.Description </div>
                </p>
            </div>
            <div class="card-footer">
                @if (Fix.Fixed == true)
                {
                    <p>
                        Status: Fixed
                    </p>
                }
                else
                {
                    <p>Status: Not fixed</p>
                }
            </div>
            <div class="card-footer align-content-center" style="height: 2.5rem;  padding-top: 0; padding-bottom: 0">
                <a class="btn" type="button" asp-page="DeleteFix" asp-route-id="@Fix.Id"><i class="fa fa-trash"></i></a>
                <a class="btn" type="button" asp-page="EditFix" asp-route-id="@Fix.Id"><i class="fa fa-cog"></i></a>
            </div>
        </div>
    }
</div>


